$icon-size: 32px;

.following-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  
  .following-icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: $icon-size;
    background-image: url('../../assets/user-group.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: $icon-size;
  }
}