.button-container {
    margin-left: auto;
    width: 6em;
    height: 1.5em;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    
}

.follow-button {
    border-color: rgba(125, 227, 140, 0.2);
    color: rgba(125, 227, 140, 0.8)
}

.followed-button {
    border-color: rgba(227, 227, 228, 0.062);
    color: rgba(227, 227, 228, 0.6);
}