.account-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid 1px #7DE38D;
    background-color: rgba(227, 227, 228, 0.062);
    //   background-color: #0F3137;
    top: 90px;
    right: 40px;
    z-index: 5;

    .message {
        font-size: 18px;
        margin: 50px auto;
    }

    .note {
        font-size: 12px;
        font-style: italic;
        margin: 50px auto;
    }

    .dropdown-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
  
}
